<!-- Page banner Area -->
<div class="page-banner bg-1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-content">
                    <h2>¿Quiénes Somos?</h2>
                    <ul>
                        <li><a routerLink="/">Inicio</a></li>
                        <li>Sobre Nosotros</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page banner Area -->

<!-- About Safe Area -->
<div class="about-text-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-safe-text">
                    <h2>WIMEXPRESS, una Solución Rápida y Segura para su envío.</h2>
                    <p>
                        WIMREMID EXPRESS es una empresa importadora - exportadora desde y para el territorio mexicano, presta servicios de mensajería, paquetería recepción y entrega de mercancías.
                    </p>
                    <p>
                        Ofrecemos un servicio de entrega de paquetería, hasta la puerta de la casa de sus familiares y amigos en todo el Caribe.
                    </p>
                </div>

                <div class="shipping-card">
                    <div class="shipping-contant">
                        <div class="shipping-sign">
                            <img src="assets/img/sign.png" alt="image">
                        </div>

                        <div class="shipping-image">
                            <img src="assets/img/clients/client1.png" alt="image">
                        </div>

                        <h3>John Doe</h3>
                        <span>CEO, WIMREMID EXPRESS S DE SA DE CV</span>
                        <p>Entregamos con amor su paquetes a familiares y amigos en todo el Caribe.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="safe-image">
                    <img src="assets/img/speciality/speciality2.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About Safe Area -->


<!-- Newsletter Area -->
<ath-subscribe></ath-subscribe>
<!-- End Newsletter Area -->
