<div class="newsletter-area">
    <div class="container">
        <div class="newsletter-content">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12">
                    <div class="newsletter-title">
                        <h3>Suscríbase a nuestros boletines:</h3>
                        <p>Manténgase informado de las novedades</p>
                    </div>
                </div>

                <div class="col-lg-7 col-md-12">
                    <form class="newsletter-form">
                        <input type="email" class="form-control" placeholder="Su correo electrónico" autocomplete="off">
                        <button type="submit" class="btn btn-primary">Suscribirme</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
