<!-- Hero Area -->
<div class="hero-slider-two owl-carousel owl-theme">
    <div class="hero-slider-two-item item-bg1">

        <video autoplay muted loop id="myVideo">
            <source src="assets/video/video001.mp4" type="video/mp4">
        </video>

        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="banner-content">
                                <span>Desde 2020</span>
                                <h1>Envíos rápidos y seguros</h1>
                                <p>At vero eos et accusamus et iusto odio vero ducimus qui blanditiis iusto voluptatum</p>
                                <a routerLink="/contact" class="default-btn-one mr-3">Contáctenos</a>
                                <a routerLink="/" class="default-btn-two">Cotizar</a>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="order-form">
                                <h2>Rastree su envío</h2>

                                <form>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="No. de seguimiento">
                                    </div>

                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Su correo electrónico">
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="default-btn-one">Rastrear</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Area -->

<!-- Freight Card Area -->
<div class="freight-area pb-70">
    <div class="container">
        <div class="freight-inner">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="service-card-two">
                        <img class="freight-image" src="assets/img/cities/merida.webp" alt="image">
                        <div class="service-caption">
                            <h3>Delegación de Mérida</h3>
                            <p>
                                Lorem ipsum dolor sit amet.
                            </p>
                            <a routerLink="/services" class="default-btn-two">Ver en mapa</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="service-card-two">
                        <img class="freight-image" src="assets/img/cities/cancun.webp" alt="image">
                        <div class="service-caption">
                            <h3>Delegación de Cancun</h3>
                            <p>
                                Lorem ipsum dolor sit amet.
                            </p>
                            <a class="default-btn-two">Ver en mapa</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                    <div class="service-card-two">
                        <img class="freight-image" src="assets/img/cities/cdmx.webp" alt="image">
                        <div class="service-caption">
                            <h3>Delegación del DF</h3>
                            <p>
                                Proximamente
                            </p>
                            <!-- <a routerLink="/services" class="default-btn-two">Read More</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Freight Card Area -->

<!-- Services Area -->
<div class="services-area services-two pb-100">
    <div class="container">
        <div class="section-title">
            <span>Nuestros Servicios</span>
            <h2>Listados de Servicios Logísticos<br> Profesionales</h2>
        </div>

        <div class="services-slider owl-carousel owl-theme">
            <div class="service-card">
                <i class='bx bxs-ship'></i>
                <h3>Envío de Contenedores</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                <a routerLink="/" class="default-btn-two">Conocer más</a>
            </div>

            <div class="service-card">
                <i class='bx bx-file'></i>
                <h3>Envío de Documentos</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                <a routerLink="/" class="default-btn-two">Conocer más</a>
            </div>

            <div class="service-card">
                <i class='bx bxs-package'></i>
                <h3>Envío de Paquetería</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                <a routerLink="/" class="default-btn-two">Conocer más</a>
            </div>

            <div class="service-card">
                <i class='bx bx-cycling'></i>
                <h3>Envío de Bienes Duraderos</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                <a routerLink="/" class="default-btn-two">Conocer más</a>
            </div>

        </div>
    </div>
</div>
<!-- End Services Area -->

<!-- Personal Data Area -->
<div class="personal-data-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="safely-image">
                    <img src="assets/img/safely/safely.png" alt="image">

                    <div class="caption">
                        <div class="d-table">
                            <div class="d-table-cell">
                                <h3>Cotice su envío</h3>
                                <p>
                                    Rellene este sencillo formulario y reciba inmediatamente por correo electrónico una cotización.
                                </p>
                                <p>
                                    Las tarifas pueden variar sin previo aviso, en función de los costos ofrecidos por nuestros socios comerciales.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 col-md-12">
                <div class="personal-data-form">
                    <h2>Datos personales</h2>

                    <form>
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nombre y apellidos">
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-12">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Correo electrónico">
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Teléfono">
                                </div>
                            </div>
                        </div>

                        <h2>Datos del envío</h2>

                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <select class="form-control" id="FreightType">
                                    <option>Tipo de envío</option>
                                    <option>Aéreo</option>
                                    <option>Marítimo</option>
                                </select>
                            </div>

                            <div class="col-lg-4 col-md-12">
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Peso (kg)">
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-12">
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Volumen (m3)">
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-12">
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Altura (cm)">
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-12">
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Ancho (cm)">
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-12">
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Profundidad (cm)">
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Enviar</button>
                        <p><span>*</span>Obtenga un <a href="#">10% de descuento</a> en su primer envío</p>
                    </form>
                </div>
            </div>
        </div>

        <div class="shape-three"><img src="assets/img/shape/shape6.png" alt="Shape"></div>
    </div>
</div>
<!-- End Personal Data Area -->

<!-- Blog Area -->
<!-- <div class="blog-area pt-100 pb-70">
    <div class="container">
        <div class="section-title ">
            <span>Agencias Cubanas</span>
            <h2>Trabajamos en Cuba con las tres Agencias más grandes de paquetería internacional</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <a href="https://www.correos.cu/" target="_blank" rel="noopener noreferrer" class="blog-image"><img src="assets/img/operators/emci.png" alt="image"></a>
                    <div class="blog-text">
                        <h3><a href="https://www.correos.cu/" target="_blank" rel="noopener noreferrer" >EMCI - Correos de Cuba</a></h3>
                        <p class="mb-20">
                            Empresa especializada en Servicio Postal Universal y otros servicios de valor añadido.
                        </p>
                        <a href="https://www.correos.cu/" target="_blank" rel="noopener noreferrer" class="default-btn-two">Conocer más</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <a href="https://www.cubapack.cu/envios/" target="_blank" rel="noopener noreferrer"  class="blog-image"><img src="assets/img/operators/cp.png" alt="image"></a>
                    <div class="blog-text">
                        <h3><a href="https://www.cubapack.cu/envios/" target="_blank" rel="noopener noreferrer">DIVISION CUBAPACK</a></h3>
                        <p class="mb-20">
                            Sociedad Mercantil que presta servicios Aduanales y de Mensajería, además de venta por Catálogo.
                        </p>
                        <a href="https://www.cubapack.cu/envios/" target="_blank" rel="noopener noreferrer"  class="default-btn-two">Conocer más</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="blog-card">
                    <a class="blog-image"><img src="assets/img/operators/ce.png" alt="image"></a>
                    <div class="blog-text">
                        <h3><a>CUBANACAN EXPRESS</a></h3>
                        <p class="mb-20">
                            Es una Sociedad Mercantil 100% cubana, que presta servicios Aduanales, Transitarios y de Mensajería.
                        </p>
                        <a class="default-btn-two">Conocer más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- End Blog Area -->

<!-- Newsletter Area -->
<ath-subscribe></ath-subscribe>
<!-- End Newsletter Area -->
