<!-- Footer Area-->
<footer class="footer-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <div class="logo">
                        <img src="assets/img/logo-text.svg" alt="logo">
                    </div>
                    <p>
                        WIMREMID EXPRESS es una empresa importadora - exportadora desde y para el territorio mexicano, presta servicios de mensajería, paquetería recepción y entrega de mercancías.
                    </p>
                    <ul class="footer-socials">
                        <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" target="_blank"><i class='bx bxl-twitter' ></i></a></li>
                        <li><a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                        <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget pl-80">
                    <h3>Empresa</h3>

                    <ul class="footer-text">
                        <li><a routerLink="/about">Sobre nosotros</a></li>
                        <li><a routerLink="/services">Servicios</a></li>
                        <li><a routerLink="/">Cotizaciones</a></li>
                        <li><a routerLink="/">Puntos de colección</a></li>
                        <li><a routerLink="/contact">Contáctenos</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget pl-50">
                    <h3>Información</h3>

                    <ul class="footer-text">
                        <li><a routerLink="/">Aviso Legal</a></li>
                        <li><a routerLink="/privacy-policy">Política de Privacidad</a></li>
                        <li><a routerLink="/terms-conditions">Términos y Condiciones</a></li>
                        <li><a routerLink="/faq">FAQ's</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h3>Contáctenos</h3>

                    <ul class="info-list">
                        <li><i class='bx bxs-map-pin'></i>Calle 16 No 313 interior 5 e/ 7 y 9 Residencial Cámara de Comercio del Norte. Mérida, Yucatán </li>
                        <li><i class='bx bxs-envelope'></i> <a href="mailto:info@wimexpress.com">info@wimexpress.com</a></li>
                        <li><i class='bx bxs-phone'></i> <a href="tel:+52-1-999-518-8337">+52 1 999 518 8337</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Area -->

<!-- Footer bottom Area -->
<div class="footer-bottom">
    <div class="container">
        <p>
            &copy; {{ currentYear }} Desarrollado y mantenido por <a href="https://athendat.site" target="_blank" rel="noopener noreferrer">ATHENDAT</a>
        </p>
    </div>
</div>
<!-- End Footer bottom Area -->

<!-- Go Top -->
<div class="go-top">
    <i class='bx bx-chevrons-up'></i>
</div>
<!-- End Go Top -->
